<h1></h1>
<h3>{{subtitle}}</h3>

<form class="hsearch" action="/modify/delsearch" method="post">
  <h3>Search</h3>
  <input id="searchbox" type="text" name="searchbox" placeholder="Ex: assignment123" value="">
  <input type="submit" name="button"></input>
</form>
