
<form action="/modify/edit/{{assignment.aid}}" method="post">
    <div class="add-form">
        <label>Period</label>
        <input type="text" name="period" class="" placeholder="add period">
    </div>
    <div class="add-form">
        <label>Teacher's Name</label>
        <input type="text" name="teacher" class="" placeholder="add teacher's name">
    </div>
    <div class="add-form">
        <label>Assignment</label>
        <input type="text" name="assignment" class="" placeholder="add assignment name">
    </div>
    <div class="add-form">
        <label>Due Date</label>
        <input type="text" name="date" class="" placeholder="add due date">
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
</form>
