<h2>Look for your current Assignments</h2>

<form class="hsearch" action="/modify/search" method="post">
  <h3>Search</h3>
  <input id="searchbox" type="text" name="searchbox" placeholder="Ex: assignment123" value="">
  <input type="submit" name="button"></input>
</form>
