<h1></h1>

  <p>Welcome to {{title}}. Please Sign In to start.</p>

<form action="/users/home">
      <div class="add-form">
          <label>Username</label>
          <input type="text" name="id" class="" placeholder="type in username">
      </div>
      <div class="add-form">
          <label>Password</label>
          <input type="text" name="id" class="" placeholder="type in password">
      </div>
      <input type="submit" class="" value="Sign In">
</form>
