<!DOCTYPE html>
<html>
  <head>
    <title>Homework Reminder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="topmain">Homework Reminder</h1>
    <nav>
      <ul class="navbarul">
        <li class="navbarli"><a class="navbara" id="main-tab" href="/users/home">Home</a></li>
        <li class="navbarli"><a class="navbara" id="main-tab" href="/users/all">All Assignments</a></li>
        <li class="navbarli"><a class="navbara" id="main-tab" href="/modify/add">Add Assignment</a></li>
        <li class="navbarli"><a class="navbara" id="main-tab" href="/modify/del">Delete Assignment</a></li>
        <li class="navbarli"><a class="navbara" id="main-tab" href="/remind">Reminders</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
