body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.btn{
  display: block;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-top: 10px;
  border: none;
}

.hbtn{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left:47.5%;

}

.navbarul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}
.navbarli{

  float: left;
  border-right: 1px solid white;
}
.navbara{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
#main-tab:hover {
    background-color: #111;
}
#sub-link{
  text-decoration: none;
  color: #0003c4;
}
#sub-link:hover {
    background-color: #cdeff4;
}
#sub-link:visited{
  text-decoration: none;
  color: #0003c4;
}
.display-assignments{
  list-style-type: none;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  overflow: hidden;
  color:black;
}
.add-form {
  margin: 10px 0px 10px 0px;
}

nav{
  padding-right: 5px;

}
h2{
  text-align: center;
}
footer{
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  color: white;
  text-align: center;

}
.hsearch{
  text-align:center;
}
/*<footer>James Malo | St. Patrick Highschool | May 2018</footer>
